.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    padding: 5px 10px;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
  background: var(--main-bg-color);
}
.btn2{
  color: red;
  margin: 10px auto;
  padding: 0px 18px;
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
  background: var(--main-bg-color);
}
.my-1{
  padding: 5px 0;
}


.my-2{
  padding: 26px 0;
}

.my-3{
  color: green;
}

.my-4{
  cursor: pointer;
  font-weight: bold;
}
.text-center{
  text-align: center;
}